@model Bug_Tracker.Models.Ticket

@{
    ViewBag.Title = "Create";
}
<div class="side-container">
    <div class="side-planner">
        <div class="side-plan">
            <span class="material-symbols-outlined">
                today
            </span>
            <p>Projects</p>
        </div>
        <div class="side-plan">
            <span class="material-symbols-outlined">
                calendar_month
            </span>
            <p>Tickets</p>
        </div>
        <div class="side-plan">
            <span class="material-symbols-outlined">
                checklist
            </span>
            <p>Role Management</p>
        </div>
    </div>
</div>

<div class="add-new-project">
    <h2>Add New Ticket</h2>
    <form class="add-project-form">
        <input type="text" placeholder="Title" />
        <input type="date" placeholder="Date" />
        <textarea placeholder="Description"></textarea>
        <button type="submit">Add Ticket</button>
    </form>
</div>


<!--@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tickets</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}-->
